
@{
    Layout = null;
}



<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />


<form method="post">
    <div class="row">
        <div class="col-md-6 mb-2">
            <input type="text" name="adult" class="form-control" placeholder="Yetişkin Sayısı" />
              </div>
        <div class="col-md-6">
            <input type="text" name="child" class="form-control" placeholder="Çocuk Sayısı" />
        </div>
  

        <div class="col-md-6">
            <input type="text" name="checkinDate" class="form-control" placeholder="Giriş Tarihi " />
        </div>
        <div class="col-md-6">
            <input type="text" name="checkoutDate" class="form-control" placeholder="Çıkış Tarihi " />
        </div>
    <div class="col-md-6">
        <input type="text" name="roomNumber" class="form-control" placeholder="Oda Syısı " />
    </div>
    <div class="col-md-6">
        <input type="text" name="cityId" class="form-control" placeholder="Şehir ID " />
    </div>
    <br />
    <button class="btn btn-primary">Hotel Ara</button>
    </div>
</form>
